ol li{
    background-color: yellow;
}

ol li:nth-child(odd) {
    color: green;
}

ol li:nth-child(even) {
    font-size: larger;
}

h1, h3 {
    color: red;
}

h1 em {
    font-size: 40px;
    border: 1px solid black;
}