body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
  font-family: sans-serif;
}

.img {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 20px;
}
