body {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 600px;
}
