body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
  font-family: sans-serif;
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}
